* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  align-items: left;
  min-height: 100vh;
  color: @df-off-black;
  font-family: @df-serif;
  font-size: @df-text-base;
  line-height: @df-line-base;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  background-color: rgb(192, 192, 192);
}

h1 {
  font-size: 28px;
  line-height: 30 / 28;
  letter-spacing: -0.5px;
}

.full-screen-square {
  position: fixed;
  left: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.full-screen-square h2 {
  font-size: 18px;
  letter-spacing: -0.5px;
  color: #000000;
  text-align: left;
  text-indent: 50px;
}

.full-screen-square img {
  width: 100%;
  object-fit: contain;
  background-color: rgba(192, 192, 192, 0.2);
}
.square {
  max-width: 310px;
  cursor: pointer;
  justify-content: center;
}

.list {
  display: flex;
  list-style-type: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.image {
  top: 20px;
  left: 0;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 5px;
}

.img {
  justify-content: space-around;
  padding-bottom: 5px;
}

button {
  border-radius: 8px;
  height: 40px;
  line-height: 1.2;
  font-size: 14px;
  font-family: @df-sans;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.outmost {
  max-width: 960px;
  width: 100%;
  position: relative;
  margin: 20px 16px;
}

.groupButton {
  display: flex;
  justify-content: center;
}