* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  align-items: left;
  min-height: 100vh;
  color: @df-off-black;
  font-family: @df-serif;
  font-size: @df-text-base;
  line-height: @df-line-base;
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-size: 28px;
  line-height: 30 / 28;
  letter-spacing: -0.5px;
  text-align: center;
  padding-right: 20px;
}

h2 {
  font-size: 20px;
  padding-right: 20px;
}

p {
  margin-top: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica Neue;
  margin-bottom: 8px;
  color: rgb(66, 70, 72);
}
.source {
  margin: 6px auto 0;
  max-width: 960px;
  line-height: 1.2;
  font-size: 14px;
  font-style: italic;
  font-family: Helvetica Neue;
  color: rgb(66, 70, 72);
}

.full-screen-square {
  position: fixed;
  left: 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: rgb(255 ,255 ,255);
  height: 100%;
  padding-top: 20px;
  overflow: auto;
  border: none;
}

.full-screen-square h2 {
padding-top: 10px;
  font-size: 22px;
  color: #000000;
  text-align: left;
  margin: 0 50px;
  font-family: Helvetica Neue;
  text-transform: uppercase;
}

.full-screen-square h3 {
  font-size: 16px;
  color: rgb(188, 92, 35);
  text-align: left;
  margin-top: 5px;
  margin-left: 50px;
  font-family: Helvetica Neue;
  font-style: italic;
}

.full-screen-square h4 {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: rgb(188, 92, 35);
  text-align: left;
  margin-top: -10px;
  margin-left: 50px;
  font-family: Helvetica Neue;
  font-style: normal;
}

.full-screen-square h5 {
  font-size: 15px;
  letter-spacing: -0.5px;
  color: #000000;
  text-align: left;
  margin: 0 50px;
  font-family: Helvetica Neue;
  padding-bottom: 50px;
}

.full-screen-square h6 {
  position: relative;
  font-size: 12px;
  color: rgb(126, 131, 139);
  text-align: right;
  top: 11%;
  margin-right: 6%; 
  font-family: Helvetica Neue;
  pointer-events: none;
}

.square-image h2 {
  font-family: Helvetica Neue;
  font-size: 15px;
}

.full-screen-square img {
  width: 100%;
  object-fit: contain;
  overflow: scroll;
  max-width: 900px;
  border: 1px solid rgb(126, 131, 139);
}

.full-screen-square image {
  border: 0px solid rgb(126, 131, 139);
}

.square {
  max-width: 300px;
  cursor: pointer;
  justify-content: center;
}

.square image {
  max-width: 300px;
  cursor: pointer;
  justify-content: center;
}

.list {
  display: flex;
  list-style-type: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.image2 {
  top: 0px;
  left: 0;
  width: 100%;
  justify-content: space-around;
  /* margin-bottom: 5px; */
  border: 1px solid rgb(126, 131, 139);
}

.image {
  top: 0px;
  left: 0;
  width: 100%;
  justify-content: space-around;
}

.img {
  justify-content: space-around;
  padding-bottom: 5px;
}

button {
  border-radius: 8px;
  height: 40px;
  line-height: 1.2;
  font-size: 14px;
  font-family: @df-sans;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.outmost {
  max-width: 950px;
  width: 100%;
  position: relative;
  margin: 20px 16px;
}

.groupButton {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .groupButton {
    justify-content: left;
    margin: 0;
    padding: 0;
    width: 21em;
  }

  .button {
    margin: 0;
    font-size: 12px;
    padding: 0;
  }
}